<div>
    <div *ngIf="f1">
      <h3>Details of {{employee.first_name}}</h3>
      <p>Employee Id is {{employee.id}}</p>
      <p>Employee First Name is {{employee.first_name}}</p>
      <p>Employee Last Name is {{employee.last_name}}</p>
      <p>Employee EmailId {{employee.email}}</p>
      <input type="button" value="Employee List" (click)="displayAllEmployeeList()" />
      <input type="button" value="Delete" (click)="deleteEmployee(employee.id)" />
      <input type="button" value="Update " (click)="updateEmployeeForm()" />
    </div>
  
    <div *ngIf="f2">
      <h2>Update Form</h2>
      <form (submit)="updateEmployee()">
        <label for="updateId">ID:</label>
        <input type="text" id="updateId" [(ngModel)]="updateEmployee.id" required />
        <br />
  
        <label for="updateFirstName">First Name:</label>
        <input type="text" id="updateFirstName" [(ngModel)]="updateEmployee.first_name" required />
        <br />
  
        <label for="updateLastName">Last Name:</label>
        <input type="text" id="updateLastName" [(ngModel)]="updateEmployee.last_name" required />
        <br />
  
        <!-- Add other fields as needed -->
  
        <input type="submit" value="Update" />
      </form>
    </div>
  </div>
  